<link rel="stylesheet" type="text/css" href="styles.css">

<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Queen</h1>
    <h3>"A concert is not a live rendition of our album. It's a theatrical event"</h3>
      <p>-Freddie Mercury</p>
  </div>
</div>