{% extends '_templates/base.njk' %}

{% block content %}
<div class="container">
  <p>
  Queen is a legendary British rock band that rose to prominence in the 1970s and became one of the most iconic and influential groups in the history of rock music. Formed in London in 1970, the band consisted of four exceptionally talented members: Freddie Mercury (vocals and piano), Brian May (guitar and vocals), Roger Taylor (drums and vocals), and John Deacon (bass guitar). Known for their diverse musical style that incorporated elements of rock, opera, pop, and progressive rock, Queen's innovative sound and theatrical performances set them apart in the music industry. 
  </p>
  <p>
  One of Queen's defining features was the powerful and dynamic vocals of Freddie Mercury, who also contributed significantly to the band's songwriting. The band's catalog includes an impressive array of hits, such as "Bohemian Rhapsody," "We Will Rock You," "We Are the Champions," "Somebody to Love," and "Another One Bites the Dust," among many others. "Bohemian Rhapsody," in particular, stands out as a groundbreaking and genre-defying composition that showcased Queen's willingness to push musical boundaries.
  </p>
  <p>
   Throughout their career, Queen achieved massive commercial success, selling millions of records worldwide. They received critical acclaim for their musical prowess, and their live performances were renowned for their energy and showmanship. Despite the tragic loss of Freddie Mercury in 1991, Queen's legacy endures, and the surviving members continue to celebrate the band's music through various collaborations and performances. Queen's influence on the rock genre and their lasting impact on popular culture make them an enduring symbol of musical innovation and creativity.
  </p>
</div>
{% endblock %}